[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"dislash.py" = "*"
python-dotenv = "*"
requests = "*"
"html.parser" = "*"
markdownify = "*"

[dev-packages]

[requires]
python_version = "3.8"
